<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Hello World </title>

<!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
<!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/styles.css">
<!-- For now, keep the .. to be able to do my shit without having the server running. When we're using API stuff,take those out and run nodemon + all the other shit or your scripts files won't load - dummy - CC  -->
  </head>
  <body>
    <div class="logged-out-pages">
<!-- Main Container Div -->
      <div class="container">
  <!-- Top Nav Bar - NOT SIGNED IN VERSION -->
        <nav id="logged-out-nav" class="ui inverted clearing segment">
          <!-- <h3 class="ui left floated header">
            <img src="../images/HipSpaceLogoOutl-Violet.svg">
          </h3> -->
          <h3 class="ui left floated header">
            Hipspace
          </h3>
          <a href="login_modal.html"><button class="ui right floated inverted basic button">Sign Up</button></a>
          <a href="login_modal.html"><button class="ui right floated inverted basic button">Log In</button></a>
        </nav>
  <!-- END of Top Nav Bar - NOT SIGNED IN VERSION -->
  <!-- IF YOU CLICK OUT OF THE BOX, THIS IS ALL YOU SEE -->
        <div id="big-logo">
          <p><img src="../images/HipSpaceLogoOutl-GreyLt.svg"></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#dummy-score"><i class="huge angle down icon"></i></a>
        </div>
  <!-- END -->
  <!-- DUMMY LISTING DIV -->
        <div id="dummy-score" class="ui raised very padded text container segment">
          <img src="http://www.hutterites.org/wp-content/uploads/2012/03/placeholder.jpg">
        <br>
        <br>
        <div class="ui three column centered grid">
          <div class="column">
            <a class="login_modal.html"><div class="ui center aligned animated fade button" tabindex="0">
            <div class="visible content">Get Your Custom Hipspace Score</div>
            <div class="hidden content">
            Sign Up Now</div>
            </div></a>
          </div>
        </div>
      </div>






<!-- DUMMY SCORE RESULT MODAL -->
      <!-- <div class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
          <div class="left-modal-head">
            <h4>YOUR HIPSCORE IS 8: YOU SHOULD LIVE IN FORT GREENE
            </h4>
          </div>
          <div class="right-modal-head">
            <h4></h4>
          </div>
          <div class="clear"></div>
        </div>
        <div class="image content">
          <div class="image">
            <i class="archive icon"></i>
          </div>
          <div class="description">
            <p>Maybe instead of a screenshot, we could do a text description of the neighborhood instead with a single image - like image to the left.</p>
          </div>
        </div>
        <div class="actions">
          <a href="login_modal.html"><div class="two fluid ui inverted buttons">
            <div class="ui green basic inverted button">
              <i class="bicycle icon"></i>
              LOG IN
            </div>
            <div class="ui green basic inverted button">
              <i class="paw icon"></i>
              Get Your Custom Hipscore
            </div>
          </div></a>
        </div>
      </div> -->
  <!-- END OF DUMMY SCORE MODAL -->



<!-- end of container -->
    </div>
      </div>
<!-- end of container -->
<!-- V SCRIPTS AND SHIT V -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
    <!-- Cookies lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <!-- Local JavaScript -->
    <!-- ADD AJAX JS FILE HERE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="../js/scripts.js" charset="utf-8"></script>
    <!-- my front end file - CC -->
  </body>
</html>
