<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> _HipSpace_ </title>
<!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
<!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
<!-- Local styles -->
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/styles.css">
<!-- For now, keep the .. to be able to do my shit without having the server running. When we're using API stuff,take those out and run nodemon + all the other shit or your scripts files won't load - dummy - CC  -->
  </head>
  <body>
<!-- Top Nav Bar - SIGNED IN VERSION -->
      <nav id="top-bar" class="ui inverted clearing segment">
        <a href="/index"><img class="ui left floated header" src="/images/HipSpaceLogoHoriz-White.svg" alt="HipSpace Logo"></a>

        <button class="ui right floated inverted basic button">Log Out</button>
        <a href="/profile"><button class="ui right floated inverted basic button">Profile</button></a>

        <div class="social-buttons">
        <a href="http://www.facebook.com"><button class="ui left floated inverted icon basic button">
          <i class="facebook icon"></i>
        </button></a>
        <a href="http://www.twitter.com"><button class="ui left floated inverted icon basic button">
          <i class="twitter icon"></i>
        </button></a>
        <a href="http://www.mail.google.com"><button class="ui left floated inverted icon basic button">
          <i class="envelope icon"></i>
        </button></a>
        </div>
      </nav>
<!-- END OF Top Nav Bar - SIGNED IN VERSION -->

<!-- LOGO BOX (background in parallax) -->
      <div id="big-logo">
        <img src="/images/HipSpaceLogoOutl-White.svg" alt="Hipspace Logo" />
        <p>You carefully cultivate your appearance. </p>
        <p>You know the difference between Barterhouse and Speakeasy.  </p>
        <p>You would rather give up coffee than go to Starbucks.</p>
        <p>You are in the right place! HipSpace is the only real estate listing service that focuses on the the specific neighborhood amenities that matter most to you.</p>
        <p>Simply fill out the brief questionnaire and register with HipSpace to see a custom recommendation based on your unique interests, and save listings to your account for later perusal! </p>
        <a href="/quiz_modal.ejs"><div class="ui inverted animated fade button" tabindex="0">
          <div class="visible content">Get Your Custom Hipspace Score</div>
          <div class="hidden content">
            Take The Quiz!
          </div>
        </div></a>
      </div>
<!-- END OF LOGO BOX -->
<!-- PERSONALIZED HIPSCORE LANDING SPOT -->
    <div id="main-content">
      <div id="hipscore" class="ui raised very padded text container segment">
<!-- PERSONALIZED NEIGHBORHOOD RIGHT SIDE MAP -->
        <div class="ui raised very padded right floated segment">
          <h2 class="ui header"><span class="purple-head">YOUR IDEAL 'HOOD</span></h2>
          <div id='map'></div>
        </div>
<!-- LEFT SIDE TOGGLES CONTROLLING MAP PINS -->
        <div class="ui raised very padded left floated segment">
          <h2 class="ui header"><span class="purple-head">HIPSTER SHIT</span></h2>
          <div class="ui form">
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Dive Bar' class="hidden">
              <label>Dive Bars</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Dog Park' class="hidden">
              <label>Dog Parks</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Yoga Studio' class="hidden">
              <label>Yoga Studios</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Indie Movie Theater' class="hidden">
              <label>Indie Theatres</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Thrift / Vintage Store' class="hidden">
              <label>Thrift Shops</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Record Shop' class="hidden">
              <label>Vinyl Records</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Coffee Shop' class="hidden">
              <label>Coffee Shops</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Bike Shop' class="hidden">
              <label>Bike Stores</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Farmers Market' class="hidden">
              <label>Farmers Markets</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Street Fair' class="hidden">
              <label>Street Fairs</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Art Gallery' class="hidden">
              <label>Art Galleries</label>
            </div>
            </div>
            <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name='Distillery' class="hidden">
              <label>Whisky Distilleries</label>
            </div>
            </div>
          </div>
        </div>
      </div>

<!-- ADS AND APARTMENT LISTINGS -->
      <div id="adspace" class="ui raised very padded text container segment">
<!-- APARTMENT LISTINGS HEADER -->
        <div id="listings" class="ui raised very padded right floated segment">
          <h2 class="ui header"><span class="purple-head">AVAILABLE LISTINGS</span></h2>
<!-- INDIVIDUAL APARTMENT LISTINGS -->
            <div class="rental-container">
<!-- LISTING 1 -->
              <div class="conatiner">
                <div class="photo">
                  <img src="/images/listing-1.jpg" alt="" />
                </div>
                <div class="text">
                  <div class="rental-head">
                    <div class="listing-headline"><h2>356 Berry St. #8J</h2></div>
                    <div class="save"><b>★ SAVE</b></div>
                    <div class="clear"></div>
                  </div>
                  <br>
                  <br>
                  <div class="rental-body">
                  <br>
                    <p>$2500<i> rent</i></p>
                    <hr>
                    <p> Studio </p>
                    <hr>
                    <p> Apartment | <a href="http://www.trulia.com/for_rent/5274_nh/map_v/tiles:1%7Cpoints:1_crime"> Crime Map & More Listings</a></p>
                  </div>
                </div>
                <hr>
              </div>
<!-- LISTING 2 -->
              <div class="conatiner">
                <div class="photo">
                  <img src="/images/listing-2.jpg" alt="" />
                </div>
                <div class="text">
                  <div class="rental-head">
                    <div class="listing-headline"><h2>119 McKibbin St #2D</h2></div>
                    <div class="save"><b>★ SAVE</b></div>
                    <div class="clear"></div>
                  </div>
                  <br>
                  <br>
                  <div class="rental-body">
                  <br>
                    <p>$5500<i> rent</i></p>
                    <hr>
                    <p> 2 bed | 1 bath </p>
                    <hr>
                    <p> Condo | <a href="http://www.trulia.com/for_rent/5274_nh/map_v/tiles:1%7Cpoints:1_crime"> Crime Map & More Listings</a></p>
                  </div>
                </div>
                <hr>
              </div>
<!-- LISTING 3 -->
              <div class="conatiner">
                <div class="photo">
                  <img src="/images/listing-3.jpg" alt="" />
                </div>
                <div class="text">
                  <div class="rental-head">
                    <div class="listing-headline"><h2>1732 Union Ave. #B</h2></div>
                    <div class="save"><b>★ SAVE</b></div>
                    <div class="clear"></div>
                  </div>
                  <br>
                  <br>
                  <div class="rental-body">
                  <br>
                    <p>$3300<i> rent</i></p>
                    <hr>
                    <p> 1 bed | 1 bath </p>
                    <hr>
                    <p> Single Family Home | <a href="http://www.trulia.com/for_rent/5274_nh/map_v/tiles:1%7Cpoints:1_crime"> Crime Map & More Listings</a></p>
                  </div>
                </div>
                <hr>
              </div>

            </div>
        </div>
<!-- ADVERTISEMENTS -->
        <div id="ads" class="ui raised very padded left floated segment">
          <h2 class="ui header"><span class="purple-head">LOCAL WARES</span></h2>
          <img src="/images/ad-carpet.png">
          <br>
          <img src="http://pscfo.org/wp-content/uploads/2014/05/Ad-Placeholder-390x125-Gray8.gif">
          <br>
          <img src="http://pscfo.org/wp-content/uploads/2014/05/Ad-Placeholder-390x125-Gray8.gif">
        </div>
      </div>
    </div>
<!-- END OF PERSONALIZED HIPSCORE LANDING SPOT -->




<!-- end of container -->
    </div>
<!-- end of container -->

<!-- BACKGROUND IMAGE -->
<div class="bg"></div>


  <!-- hidden -->
  <span class='hidden' id='hiddenloc'><%= locationData.name %></span>
  <span class='hidden' id='hiddenlat'><%= locationData.latitude %></span>
  <span class='hidden' id='hiddenlong'><%= locationData.longitude %></span>

<!-- V SCRIPTS AND SHIT V -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
    <!-- Cookies lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <!-- ADD AJAX JS FILE HERE -->
    <!-- Semantic UI JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <!-- Local JavaScript -->
    <script src="../js/scripts.js" charset="utf-8"></script>
    <script src="../js/users.js" charset="utf-8"></script>
    <script src="../js/ajax.js" charset="utf-8"></script>
    <script src="../js/maps.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc9EXE72TMHf3k91hH-uRfKyaj8bftpko&callback=initMap" async defer></script>

  </body>
</html>
