<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Hello World </title>

<!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
<!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <!-- Local styles -->
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/styles.css">
<!-- For now, keep the .. to be able to do my shit without having the server running. When we're using API stuff,take those out and run nodemon + all the other shit or your scripts files won't load - dummy - CC  -->


  </head>
  <body>
<!-- Main Container Div -->
    <div class="container">
    <div class="logged-out-pages">
    <!-- Top Nav Bar - NOT SIGNED IN VERSION -->
          <nav class="ui inverted clearing segment">
            <h3 class="ui left floated header">
              Hipspace
            </h3>
            <a href="login_modal.html"><h3 class="ui right floated header">
              Sign Up
            </h3></a>
            <h3 class="ui right floated header">
              |
            </h3>
            <a href="login_modal.html"><h3 class="ui right floated header">
              Log In
            </h3></a>
          </nav>
    <!-- END of Top Nav Bar - NOT SIGNED IN VERSION -->
    <!-- IF YOU CLICK OUT OF THE BOX, THIS IS ALL YOU SEE -->
          <div id="big-logo">
            <p><span class="logo-text">_Hipspace_</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="login_modal.html"><div class="ui inverted animated fade button" tabindex="0">
              <div class="visible content">Get Your Custom Hipspace Score</div>
              <div class="hidden content">
                Sign Up Now
              </div>
            </div></a>
          </div>
    <!-- END -->

<!-- MODAL 2 - HIPSCORE QUIZ MODAL -->
<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="ui center aligned header">
      <h4>WHAT AMENITIES ARE IMPORTANT IN YOUR IDEAL NEIGHBORHOOD?</h4>
  </div>
  <form class="ui inverted form" method="POST" action="/">
    <div class="ui center aligned two column centered grid">
      <div class="four column centered row">

        <div class="column">
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Well-worn Bars</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Dog Friendly Parks</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Record Stores</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Thrift Boutiques</label>
          </div>
        </div>

        <div class="column">
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Yoga Opportunities</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Arthouse Cinemas</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Coffeehouses</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Bike Accomodations</label>
          </div>
        </div>

        <div class="column">
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Farmers Markets</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Street Fairs</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Art Venues</label>
          </div>
          <br>
          <br>
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Distilled Spirits</label>
          </div>
        </div>

        <div class="column">
<!-- DROP DOWN MENU 1  -->
          <div class="ui dropdown">
            <div class="text">Price</div>
              <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                <i class="usd icon"></i>
                $900 - $1,500
              </div>
              <div class="item">
                <i class="usd icon"></i>
                $1,501 - $2,500
              </div>
              <div class="item">
                <i class="usd icon"></i>
                $2,501 +
              </div>
            </div>
          </div>
<!-- END DROP DOWN 1 -->
          <br>
          <br>
<!-- DROP DOWN MENU 2  -->
          <div class="ui dropdown">
            <div class="text">Safety Level</div>
              <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                <i class="child icon"></i>
                Kids All Over
              </div>
              <div class="item">
                <i class="bicycle icon"></i>
                Post Gentrification
              </div>
              <div class="item">
                <i class="bomb icon"></i>
                DDDDangerzone
              </div>
            </div>
          </div>
<!-- END DROP DOWN 2 -->
          <br>
          <br>
<!-- DROP DOWN MENU 3  -->
          <div class="ui dropdown">
            <div class="text">Apartment Style</div>
              <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                <i class="building icon"></i>
                Loft / Studio
              </div>
              <div class="item">
                <i class="building icon"></i>
                1 Bedroom
              </div>
              <div class="item">
                <i class="building icon"></i>
                Palace
              </div>
            </div>
          </div>
<!-- END DROP DOWN 3 -->

        </div>
      </div>
    </div>
  </form>
  <div class="actions">
      <button type="submit" class="ui green basic inverted button">
        <i class="bicycle icon"></i>
        PROCEED TO REGISTER OR SIGN IN
      </button>
  </div>
</div>
<!-- END OF HIPSPACE SCORE QUIZ MODAL -->



<!-- end of container -->
      </div>
    </div>
<!-- end of container -->
<!-- V SCRIPTS AND SHIT V -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
    <!-- Cookies lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <!-- Local JavaScript -->
    <!-- ADD AJAX JS FILE HERE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <!-- <script src="../js/owl.carousel.js"></script>
    <script src="../js/owl.carousel.min.js"></script> -->
    <script src="../js/scripts.js" charset="utf-8"></script>
    <!-- my front end file - CC -->
  </body>
</html>
