<nav id="top-bar" class="ui inverted clearing segment">
  <a href="/"><img class="ui left floated header" src="/images/backgrounds_logos/HipSpaceLogoHoriz-White.svg" alt="HipSpace Logo"></a>
  <button id="log-in-header-button" class="ui right floated inverted basic button">Log In Or Sign Up</button>
</nav>
