<nav id="top-bar" class="ui inverted clearing segment">
  <a href="/hipmap"><img class="ui left floated header" src="/images/HipSpaceLogoHoriz-White.svg" alt="HipSpace Logo"></a>

  <button class="ui right floated inverted basic button" id='logout'>Log Out</button>
  <a href="/profile"><button class="ui right floated inverted basic button">Profile</button></a>

  <div class="social-buttons">
  <a href="http://www.facebook.com" target="_blank"><button class="ui left floated inverted icon basic button">
    <i class="facebook icon"></i>
  </button></a>
  <a href="http://www.twitter.com" target="_blank"><button class="ui left floated inverted icon basic button">
    <i class="twitter icon"></i>
  </button></a>
  <a href="http://www.mail.aol.com" target="_blank"><button class="ui left floated inverted icon basic button">
    <i class="envelope icon"></i>
  </button></a>
  </div>
</nav>
