body {
  background: url('../images/sativa.png') repeat;
  width: 100%;
  height: 1000%;
  top: 0;
  left: 0;
}

input {
  margin-bottom: 10px;
}

label{
  font-family: Lucida Grande;
}

td{
  margin-bottom: 20px;
}

#owl {
  position: absolute;
  width: 8.5%;
  bottom: 0;
}

#logo-thing{
  font-family: Rock Salt;
  font-size: 25px;
  margin-bottom: 0;
}

#welcome-back {
  font-family: Kaushan Script;
  color: snow;
  font-size: 70px;
  text-align: center;
}

#profile-div{
  position: absolute;
  width: 350px;
  height: 430px;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
  margin-left: 180px;
  margin-top: 60px;
  background-color: rgba(255,255,255,1);
  animation: fadein 3.5s;
}

#preferences-div{
  width: 500px;
  height: 430px;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 60px;
  background-color: rgba(255,255,255,1);
  animation: fadein 3.5s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#profile-form{
  margin-left: 100px;
  text-align: center;
}

#preferences-form{
  margin-top: 30px;
  height: 200px;
  margin-left: 70px;
}

#profile-h2{
  font-family: Lucida Grande;
  font-size: 30px;
  text-align: center;
  color: black;
}

#preferences-h2{
  font-family: Lucida Grande;
  font-size: 30px;
  text-align: center;
  color: black;
}

#edit-profile-button{
  margin-right: 120px;
  margin-top: 0px;
}

#edit-preferences-button{
  text-align: center;
  margin-top: 100px;
  margin-left: 140px;
}
