/* vvvv THIS IS FOR ALL PAGES THAT USE THIS STYLESHEET vvvv */

/*
  OH SHIT, THINGS ARE BROKEN, IT'S:
*/
body {
  /*background: lemonchiffon;*/
  background-color: #EBEBEB;
}

/* ALL LINKS */
a {
  cursor: pointer;
}

/* ALL HEADINGS */
h1 {
  position: relative;
  color: white;
  font-size: 5em;
  padding-top: 0.75em;
}

/* ALL WHITE TEXT */
.snow {
color: snow;
}

/* ALL PURPLE TEXT */
.purple-head {
  color: #8f25b8;
}

/* LINKS THAT NEED BLACK TEXT */
.black {
  color: black;
}

/* CLEARS */
.clear {
  float: none;
}

/* STICKY TOP NAV BAR */
#top-bar {
  z-index: 50;
  top: 0;
  position: fixed;
  width: 100%;
}

#top-bar img {
  width: 15%;
  height: 80%;
  margin: 0 4% 0 0.5%;
  padding-top: 0.5%;
  bottom: 0;
}

#top-bar button {
  margin-left: 0.5%;
}

/* ====================== */
/* vvvv THESE STYLES AFFECT THE LOGGED OUT (SPLASH) PAGE ONLY */

html {
  background: url('../images/backgrounds_logos/sativa.png') repeat;
}

/* BACKGROUND */
.logged-out-pages {
  background: url('../images/backgrounds_logos/sativa.png') repeat;
  width: 100%;
  height: 200%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* BIG PURPLE BOX WITH LOGO */
#index-big-logo {
  margin-top: 100px;
  background-color: #6721cd;
  height: 500px;
  width: 100%;
  color: snow;
  padding-bottom: 15%;
  text-align: center;
  /*position: relative;*/
}

#index-big-logo img {
  width: 30%;
  height: 15em;
  padding-bottom: 3%;
  padding-top: 3%;
}

.quiz-block-redirect {
  top: 0;
  bottom: 0;
}

.quiz-block-redirect img {
  /*position:inherit;*/
  height: 100px;
  margin-top: -50px;
}

/* HIPSCORE QUIZ */
#quiz-block {
  width: 100%;
  background-color: white;
  height: 500px;
  padding-left: 4%;
  margin-top: 30%;
}

#quiz-head {
  padding-top: 2%;
  padding-bottom: 2%;
}

.actions {
  margin-top: 4%;
  padding-left: 33%;
}

#login-box {
  margin-top: 80%;
  width: 100%;
  background: snow;
}

.index-head-redirect {
  padding-left: 43%;
  margin-top: 5%;
}

.index-head-redirect img {
  /*position:inherit;*/
  height: 100px;
  margin-top: -50px;
}

/* ====================== */
/* ====================== */
/* vvv THE STYLES BELOW AFFECT ALL LOGGED IN PAGES THAT USE THIS STYLESHEET vvv */

/* BACKGROUND IMAGE LOGGED IN PAGES */
.bg {
  background: url('../images/sativa.png') repeat;
  width: 100%;
  height: 1000%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: absolute;
}

/* LOGGED-IN BIG PURPLE LOGO BOX */
#big-logo {
  position: absolute;
  margin-top: 100px;
  background-color: #6721cd;
  /*background-color: #9600FF;*/
  height: 100%;
  width: 100%;
  color: snow;
  padding-bottom: 15%;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
}

#big-logo img {
  width: 40%;
  height: 40%;
  padding-bottom: 3%;
  padding-top: 3%;
}

/* HIPSCORE MAP + LISTINGS CONTAINER */
#main-content {
  position:absolute;
  top: 85%;
  width: 100%;
}

/* HIPSCORE MAP + TOGGLES CONTAINER */
#hipscore {
  background-color: white;
  width: 100%;
  height: 400%;
  display: block;
  /*text-align: center;*/
  z-index: 1;
  position: relative;
  marign: 0 auto;
}

#hipscore h2 {
  text-align: center;
}

/* HIPSCORE MAP */
#map {
  width: 60vw;
  height: 70vh;
  background-color: snow;
}

/* MAP OVERLAY TOGGLES BOX */
#selectors {
  width: 100%;
  height: 60;
  background-color: white;
}

/* AD + LISTINGS CONTAINER */
#custom-graphics-space {
  margin-top: 2%;
  background-color: white;
  width: 100%;
  height: 400%;
  display: block;
  text-align: center;
  z-index: 1;
  position: relative;
}

/* ADVERTISEMENTS BOX */
#custom-graphics {
  width: 30%;
}

/* INDIVIDUAL ADS */
#custom-graphics img {
  width: 100%;
  padding: 10%;
  margin-bottom: 2%;
}

/* APARTMENT LISTINGS BOX */
#listings {
  width: 60%;
}

/* APARTMENT LISTINGS IMAGES */
#listings img {
  /*width: 100%;*/
}

/* APARTMENT LISTINGS */
.container {
  width: 60%;
  margin: 0 auto;
}

.listing-headline {
  float: left;
}

.rental-body {
  margin-top: 1%;
}

/* APARTMENT LISTINGS SAVE BUTTON */
.save {
  background: white;
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  font-family: Lucida Grande;
  border: 2px solid gold;
  float: right;
}

.save:hover {
  background-color: gold;
  cursor: pointer;
}

/* MODALS */
.left-modal-head {
  float: left;
  text-align: center;
}

.right-modal-head {
  float: right;
}

.hidden {
  display: none;
